<!-- templates/base.html -->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">  
		<!-- added by me -->
		{% load static %}
		<script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
		<link href="{% static 'css/custom.css' %}" rel="stylesheet">  
		<!-- end of my stuff -->
		<title>{% block title %}Django Auth Tutorial{% endblock %}</title>
	</head>
	<body>
	<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
  
	  	<main >
			{% block content %}
			{% endblock %}
	  	</main>
	</body>
</html>