{% extends 'base.html' %} 
{% block title %}Submissions{% endblock %}
{% block content %}

<h1 style='text-align: center;'>Submissions</h1>

<form action='/submissions/router/' method='post' style='margin: 0 auto;width:1000px'>
	{% csrf_token %}
	<input id='hidden-data' name='hidden-data' type='text' style='display:none;'>
	<div style='display:inline;'>
		<input id='search-id' name='id' class='search-box' type='text' style='width:{{w.id_width}};' disabled> 
		<input id='search-story' name='story' class='search-box' type='text' style='width:{{w.story_width}};'>
		<input id='search-words' name='word_count' class='search-box' type='text' style='width:{{w.words_width}};'>
		<input id='search-file' name='file' class='search-box' type='text' style='width:{{w.file_width}};'>
 		<select id='search-publisher' name='publisher_id' class='search-box' type='text' style='width:{{w.publisher_width}};'>
 			<option value='0' > </option>
			{% for p in publishers %}
				<option value='{{ p.id }}'>{{p.publisher}}</option>
			{% endfor %}
		</select> 
		<input id='search-date-submitted' name='date_submitted' type='text' style='width:{{w.date_submitted_width}};'>
		<select id='search-disposition' name='disposition_id' class='search-box' type='text' style='width:{{w.disposition_width}};'>
		 	<option value='0' > </option>
			{% for d in dispositions %}
				<option value='{{ d.id }}'>{{d.disposition}}</option>
			{% endfor %}
		</select>
		<input id='search-disposition-date' name='disposition_date' class='search-box' type='text' style='width:{{w.disposition_date_width}};'>
	</div>
	<table id='table-submissions' >
		<thead>
			<tr>
				<th style='min-width:{{w.id_width}}; max-width:{{w.id_width}};'>Id</th>
				<th style='min-width:{{w.story_width}};max-width:{{w.story_width}};'>Story</th>
				<th style='min-width:{{w.words_width}};max-width:{{w.words_width}};'>Words</th>
				<th style='min-width:{{w.file_width}};max-width:{{w.file_width}};'>File</th>
				<th style='min-width:{{w.publisher_width}};max-width:{{w.publisher_width}};'>Publisher</th>
				<th style='min-width:{{w.date_submitted_width}};max-width:{{w.date_submitted_width}};'>Date Submit</th>
				<th style='min-width:{{w.disposition_width}};max-width:{{w.disposition_width}};'>Disposition</th>
				<th style='min-width:{{w.disposition_date_width}};max-width:{{w.disposition_date_width}};'>Disp Date</th>
				<th style='min-width:{{w.scrollbar_width}};max-width:{{w.scrollbar_width}};'></th>
			</tr>
		</thead>
		<tbody>	
			{% for s in submissions %}
			<tr>
				<td style='min-width:{{w.id_width}};max-width:{{w.id_width}};'>{{s.id}}</td>
				<td style='min-width:{{w.story_width}};max-width:{{w.story_width}};'>{{s.story }}</td>
				<td style='min-width:{{w.words_width}};max-width:{{w.words_width}};'>{{s.word_count }}</td>
				<td style='min-width:{{w.file_width}};max-width:{{w.file_width}};'>{{s.file }}</td>
				<td style='min-width:{{w.publisher_width}};max-width:{{w.publisher_width}};'>{{s.publisher.publisher }}</td>
				<td style='min-width:{{w.date_submitted_width}};max-width:{{w.date_submitted_width}};'>{{s.date_submitted}}</td>
				<td style='min-width:{{w.disposition_width}};max-width:{{w.disposition_width}};'>{{s.disposition.disposition }}</td>
				<td style='min-width:{{w.disposition_date_width}};max-width:{{w.disposition_date_width}};'>{{s.disposition_date }}</td>
				<td style='min-width:{{w.scrollbar_width}};{{w.scrollbar_width}};max-width:{{w.scroll_bar_width}}''></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div style='text-align: center;'>
		<button id='btn-search' name='btn-search' class='button' type='submit' value='search'>Search</button>
		<button id='btn-clear' type='submit' class='button' value='clear'>Clear</button>
	<!-- 	<button id='btn-add' name='btn-add' class='button' type='submit' value='add'>Add</button> -->
		<a href='/submissions/add' class='button'>Add</a>
		<button id='btn-edit' name='btn-edit' class='button' type='submit' value='edit'>Edit</button>
		<button id='btn-delete' type='submit' class='button' value='delete'>Delete</button>
		<button id='btn-other-pubs' type='submit' class='button' value='other-pubs'>Other Pubs</button>
	</div>
</form>
{% endblock %}