{% extends 'base.html' %}
{% block title %}Users{% endblock %}
{% block content %}
<div style='text-align:center;margin: 0 auto; width:600px;'>
	<h2>Users</h2>
	<form method="post">
	  {% csrf_token %}
	  <table class='table-forms' >
	  	  	<tr>
	  			<th style='text-align: left'>Full Name</th>
	  			<th style='text-align:left;'>User</th>
	  			{% if superuser %}
	  				<th>Super</th>
	  			{% endif %}
	  			<th>               </th>
	  		</tr>
	  	{% for user in object_list %}	  				
	  		<tr>
	  			<td>{{user.first_name}} {{user.last_name}}</td>
	  			<td style='text-align:left; '>{{user.username}}</td>
	  			{% if superuser  %}
	  				<td style='text-align:center;'> <input type="checkbox" name="is_superuser" onclick='return false;' 
	  				{% if user.is_superuser %}
	  					checked
	  				{% endif %}
	  				 ></td>
	  			{% endif %} 	
	  			<td>
	  				<a href='/submissions/user/{{user.id}}'>Edit</a>     
	  				<a href= '/submissions/user/delete/{{user.id}}'>Delete</a>
	  			</td>	  		
	  		</tr>
	  	{% endfor %}
	  </table>	  
	  {% if superuser %}
		  <a href='/submissions/user/add' class='button'>Add New</a>
		  <a href='/submissions/' class='button'>Cancel</a>
	  {% else %}
		  <a href='/submissions/' class='button'>Close</a>	  
	  {% endif %}
		  
	</form> 
</div>
{% endblock %}
